@page
@model asp_hw_1.Pages.InfoRestModel
@{
}

<h1 class="text-primary">Задание 3</h1>

<h2 class="gy-2"><span class="alert-primary">Название: </span>@Model.restName</h2>
<h2 class="gy-2"><span class="alert-primary">Рейтинг: </span>@Model.restStars</h2>
<h2 class="gy-2"><span class="alert-primary">Кухня: </span>@Model.restKithenType</h2>
